<!doctype html>
<html>
  <head>
    <title>Register for <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Register for <%= shopData.shopName %></h1>

    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <div style="color: red;">
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>

    <form method="POST" action="/users/registered">
        <p>Username: <input id="username" type="text" name="username" value="<%= typeof oldInput !== 'undefined' ? oldInput.username : '' %>" required /></p>
        <p>First name: <input id="first" type="text" name="first" value="<%= typeof oldInput !== 'undefined' ? oldInput.first : '' %>" required /></p>
        <p>Last name: <input id="last" type="text" name="last" value="<%= typeof oldInput !== 'undefined' ? oldInput.last : '' %>" required /></p>
        <p>Email: <input id="email" type="email" name="email" value="<%= typeof oldInput !== 'undefined' ? oldInput.email : '' %>" required /></p>
        <p>Password: <input id="password" type="password" name="password" required /></p>
        <input type="submit" value="Register" />
    </form>
  </body>
</html>


